// Cores
$cor-primaria: #edece4;
$cor-secundaria: #988c77;
$cor-bordas: #cbc6b9;
$cor-titulos: #2a2426;
$local-aberto: #1ab912;

// Fontes
$font-1: "PT Mono", monospace;
$font-2: "Aref Ruqaa", serif;

// Conversor de pixels para em
@function converter-px($pixel, $contexto: 16) {
    @return $pixel / $contexto + em;
}

// Tipografias do site
@mixin tipografia-1($size) {
    font-family: $font-1;
    @if $size == 18 {
        font-size: converter-px(18);
        line-height: converter-px(30, 18);
    }
}

@mixin tipografia-2($size) {
    font-family: $font-2;
    @if $size == 18 {
        font-size: converter-px(18);
        line-height: converter-px(30, 18);
    }
    @else if $size == 24 {
        font-size: converter-px(24);
        line-height: converter-px(30, 24);
    }
}

  