@import 'reset';
@import "grid";
@import "variaveis-e-mixins";

// Estilos Gerais
body{
    background: $cor-primaria;
    border: 10px solid $cor-bordas;
    color: $cor-titulos;
    @include device(small){
        border: none;
    }
}

img {
    display: block;
    max-width: 100%;
}

p {
    @include tipografia-1(18);
}

.titulo {
    @include tipografia-1(18);
    text-transform: uppercase;
    @include device(small) {
        margin-bottom: 40px;
    }
    &::after {
        content: "";
        display: block;
        width: 75%;
        float: right;
        height: 2px;
        margin-top: 14px;
        background: $cor-titulos;
        @include device(medium){
            width: 60%;
        }
    }
}

// Introdução

.intro {
    margin-top: 60px;
    @include device(small) {
        margin-top: 20px;
    }
}

.logo {
    margin-bottom: 60px;
}

.intro-info {
    border-right: 2px solid $cor-titulos;
    max-width: 320px;
    p {
        padding-top: 10px;
        &:first-child {
            border-bottom: 2px solid $cor-titulos;
            padding-bottom: 10px;
        }
    }
}

.intro-telefone {
    color: $cor-secundaria;
    @include device(small) {
        margin-bottom: 40px;
    }
    &::after {
        content: '/ / / /';
        display: block;
        margin-top: 200px;
        font-size: 220px;
        letter-spacing: -90px;
        color: $cor-titulos;
        @include device(medium) {
            margin-top: 80px;
            font-size: 160px;
            letter-spacing: -70px;
        }
        @include device(small) {
            display: none;
        }
    }
}

.aberto {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: $local-aberto;
    border-radius: 50%;
    margin-left: 30px;
}

.intro-foto {
    border: 10px solid $cor-secundaria;
    width: 100%;
}


